:root {
  --dark-purple: #1e152aff;
  --deep-space-sparkle: #4e6766ff;
  --cadet-blue: #5ab1bbff;
  --pistachio: #a5c882ff;
  --jasmine: #f7dd72ff;
  --floral-white: #fff8f0ff;
}
body {
  font-family: "Nunito", sans-serif;
  background: var(--floral-white);
}
html,
body {
  height: 100%;
}

.app-header {
  background: var(--dark-purple);
  color: var(--floral-white);
}

/* home page css */
.main-content {
  padding-bottom: 60px;
}
#root,
.main {
  min-height: 100vh;
}

.search-container {
  border-radius: 10px;
  height: 40px;
}
.search-text {
  width: 90%;
  height: 100%;
  border: 0;
  outline: none;
}
.search-text::placeholder {
  color: var(--floral-black);
}

/* company search result card  */
.company-name span,
.company-reg_no span {
  font-size: 18px;
  font-weight: 800;
}
.company-name p,
.company-reg_no p {
  font-size: 14px;
  text-transform: capitalize !important;
}
.button-container {
  width: 90%;
}
.button {
  border-radius: 10px;
  min-width: 80%;
  background: var(--dark-purple);
  color: var(--floral-white);
}
.result-card {
  border-radius: 10px;
  min-height: 240px;
}

/* footer section */
footer {
  background: var(--dark-purple);
  color: var(--floral-white);
  width: 100%;
  min-height: 60px;
  clear: both;
  position: absolute;
  bottom: 0;
}
